$body-bg:                             #fcfcfc;
$body-color:                          #656565;

$font-size-base:                        0.9rem;
$font-family-base:                      'Open Sans', sans-serif;

$primary:                             #3d8aad;
$secondary:                           #489b93;
$success:                             #58be86;
$info:                                #4ca5bb;
$warning:                             #daae36;
$danger:                              #c74646;